@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  background-color: #252525;
}

h1, h2, h3, h4, h5, h6, a, p, button {
  font-family: Outfit;
  color: #FFFFFF;
  font-weight: 200;
}

hr {
  color: #FFFFFF;
  background-color: #FFFFFF;
  height: 4px;
}

#icon {
  width: 164px;
}

iframe {
  border-radius: 7px;
  border: none;
  scrolling: no;
}
